.user-lists {
        list-style-type: none;
        padding: 1rem;
}

.user-lists li {
        margin-bottom: 1rem;
        background-color: #ccc;
        padding: 1rem .5rem;
        border-radius: 5px;
        color: #000;
}